@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
  }
  
  .scroll-to-top-button.hidden {
    opacity: 0;
  }

  .rpv-full-screen__overlay { display: none !important; }

  .highlight {
    background-color: yellow;
  }